<div class="container">
  <div class="user-info-wrapper">
    <h1>{{ currentUser.login }}</h1>
    <h1 *ngIf="currentUser.friends?.length !== 0">
      friends:{{ currentUser.friends }}
    </h1>
    <img class="avatar" [src]="currentUser.img" alt="user.image" />
  </div>
  <button routerLink="/" (click)="handleCurrentUserChange()">home</button>
  <select [(ngModel)]="selectedUser.login" (ngModelChange)="showUser()">
    <option *ngFor="let user of users" [value]="user.login">
      {{ user.login }}
    </option>
  </select>
</div>

<div class="chat-container">
  <div class="chat-display">
    <div class="message-container">
      <div *ngFor="let message of currentUser.messages" class="message-item">
        <div class="message-content">
          <p class="chat-date">
            Date:{{ message.date | date : "dd.MM HH:mm" }}
          </p>
          <p class="chat-from">From:{{ message.from }}</p>
          <p class="chat-message">Message:{{ message.message }}</p>
        </div>
      </div>
    </div>

    <form class="input-wrapper" (ngSubmit)="sendMessage()">
      <input
        [(ngModel)]="message"
        class="input"
        type="text"
        placeholder="message"
        name="message"
      />
      <button type="submit" class="send-btn">send</button>
    </form>

    <app-footer></app-footer>
  </div>
</div>
